{% extends 'base.html' %}
{% block title %}List Food{% endblock %}
{% block content %}
    <h1 align="center">List Foods</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Cook</th>
                {% if user.is_authenticated %}
                    <th>Edit</th>
                    <th>Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in list_food %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.discount }}</td>
                    <td>{{ item.cook }}</td>
                    {% if user.is_authenticated %}
                    <td>
                        <a href="{% url 'cms:edit_food' id=item.id %}">
                            <button class="btn btn-outline-warning">Edit</button>
                        </a>
                    </td>
                    <td>
                         <a href="{% url 'cms:delete_food' id=item.id %}">
                            <button class="btn btn-outline-danger">Delete</button>
                        </a>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
